/* Home Page CSS */

/* Main Container - Fix Size [100 vh] */
.hundred-vh-container {
    height: 100vh;
    /* border: 1px solid red; */
}

/* Logo And Title Container - Fix Container */
.logoTitle-container {
    height: 18vh;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

/* Logo Css And Design */
.logo-container {
    /* border: 1px solid red; */
    margin: 0.4rem 0.3rem 0.4rem 0.8rem;
    padding: 0.1rem 0.2rem;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    /* background-color: gray; */
}

/* Logo Image Css */
.logo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Title Css And Design */
.title-container {
    width: 72%;
    margin: 0.4rem 0.4rem 0.4rem 0.3rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

/* Title h3 Tag Designing and Allignment */
.title-container h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    color: #941728ff;
}

.title-container h3:hover {
    color: red;
}

/* Content And Name COntainer : Mainly ChatBot */
.content-and-name-container {
    height: 82vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid blue; */
}

/* Name Description Container */
.names-container {
    width: 48%;
    height: 90%;
    margin: 0.2rem;
    padding: 0.2rem;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Name Description Container : inside Name container */
.nameBox-container {
    width: 70%;
    margin: 0.5rem 1rem;
    padding: 0.3rem;
    background-color: beige;
    border-radius: 0.4em;
    /* border: 1px solid yellow; */
}

.nameBox-container h2 {
    font-size: 1.8rem;
}

/* ChatBot Container */
.chatBot-container {
    height: 100%;
    width: 48%;
    display: flex;
    justify-content: center;
    /* border: 1px solid yellow; */
}

.chat-bot-box {
    width: 70%;
}

.chat-app {
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    overflow: hidden;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.chat-header {
    color: #941728ff;
    text-align: center;
}

.chat-header h1 {
    font-size: 1.3rem;
}

.chat-messages {
    /* color: #941728ff; */
    padding: 0 10px;
    overflow-y: auto;
    height: 64vh;
}

/* width */
.chat-messages::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.chat-messages::-webkit-scrollbar-track {
    /* background: #941728ff;  */
    background: #9e9e9e;
    border-radius: 3rem;

}

/* Handle */
.chat-messages::-webkit-scrollbar-thumb {
    background: #941728ff;
    border-radius: 3rem;
}

/* Handle on hover */
.chat-messages::-webkit-scrollbar-thumb:hover {
    background: #941728ff;
}

.message {
    display: flex;
}

.written-message {
    display: flex;
}

.bot-background {
    background-color: beige;
    color: #941728ff;
    margin: 4px 0;
    padding: 5px 10px;
    max-width: fit-content;
    border-radius: 4px;
}

.user-background {
    /* color: beige; */
    color: #941728ff;
    margin: 4px 0;
    padding: 5px 10px;
    max-width: fit-content;
    border-radius: 4px;
}



.whose-msg {
    display: flex;
    /* margin: 0 5px; */
    margin: 4px 0;
    padding: 5px 10px;
    /* font-size: 1rem; */
    align-items: center;
}

.whose-msg h2 {
    font-size: 1rem;
    /* padding: 0.1rem; */
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: #f5f5f5; */
}

.chat-input input {
    flex-grow: 1;
    padding: 5px;
    margin: 0 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.chat-input button {
    background-color: #941728ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
}

/* .avtar {
    border: 2px solid black;
    border-radius: 125%;
    width: 60px;
    height: 60px;
} */

/* .avtar-main-box {
    display: flex;
    justify-content: left;
    align-items: left;
} */

/* .float-chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 125%;
} */

/* .float-chat-icon img {
    border-radius: 125%;
    width: 60px;
    height: 60px;
} */